:root {
  --s-glass-blur-none: 0px;
  --s-glass-blur: 3px;
  --s-glass-blur-strong: 15px;
  --s-glass-blur-intense: 45px;
  --s-stroke-width: 0.5px;

  --s-glass-op-base: 0.005;    
  --s-glass-op-hover: 0.02;   
  --s-glass-op-active: 0.02;  

  --s-stroke-op-idle: 0.15;
  --s-stroke-op-hover: 0.40;
  --s-stroke-op-active: 0.98;

  --s-glare-op-hover: 0.03;   
  --s-glare-op-active: 0.03;  

  --m-dot-size: 1px;
  --m-dot-op: 0.02;
  --m-dot-layer-op: 0.15;
  
}

@supports (-webkit-touch-callout: none) {
  :root {
    --s-stroke-width: 0.75px;
  }
}