/* ============================================================
   2-ELEMENTS / _BASE.SCSS
   Batura Library | Master System v7.1 [Clean Foundation]
   ============================================================ */

body {
  /* body ОБЯЗАТЕЛЬНО прозрачный, чтобы видеть Canvas под ним */
  background-color: transparent !important; 
  width: 100%;
  min-height: 100vh;
}

main {
    position: relative;
    z-index: var(--z-app);
    width: 100%;
}

canvas {
    display: block; // Этого достаточно, чтобы убрать лишние отступы снизу
}

section {
    position: relative;
    width: 100%;
}