body {
  background-color: transparent; 
  color: var(--color-text-main);
  font-family: var(--font-main);
  min-height: 100vh;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  z-index: var(--z-app);
  width: 100%;

  transform: translateZ(0);
}

canvas {
  display: block; 
}

section {
  position: relative;
  width: 100%;
}