@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&family=JetBrains+Mono:wght@300;400;700&display=swap');

@import '0-settings/tokens';

@import '1-generic/reset';

@import '2-elements/base';
@import '2-elements/text';

@import '4-materials/glass';

@import '3-objects/layout';

@import '5-components/navbar';
@import '5-components/button';
@import '5-components/accordion';
@import '5-components/footer';
@import '5-components/logo';
@import '5-components/static-card';
@import '5-components/alphabet-nav';
@import '5-components/catalog';
@import '5-components/b-preview-box';
@import '5-components/lab-interface';
@import '5-components/ui-controls';
@import '5-components/ui-expressions';

@import '6-utilities/adaptive';