.b-footer {
  --footer-stroke-color: rgba(var(--p-white-rgb), calc(var(--s-stroke-op-idle) * 0.5));
  --_exit-delay: var(--stagger-step);

  padding-bottom: var(--p-page-bottom);
  position: relative;
  z-index: var(--z-app);

  &__grid {
    border-top: var(--s-stroke-width) solid var(--footer-stroke-color);
    padding-top: var(--space-xl);
    
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: var(--space-xl);
    
    align-items: start; 

    @media (max-width: $bp-footer) {
      grid-template-columns: 1fr;
      gap: var(--space-lg);
    }
  }

  &__brand {
    @include flow-engine(var(--space-md));
  }

  &__logo {
    height: calc(var(--unit) * 7); 
    --_logo-op: calc(var(--s-text-op-idle) * 0.5);
    color: rgba(var(--p-white-rgb), var(--_logo-op));
    transition: color var(--d-fast) var(--e-out) var(--_exit-delay);
    
    margin-left: calc(var(--unit) * -0.5); 

    .b-logo {
      height: 100%;
      svg {
        height: 100%;
        transform: translate3d(var(--logo-balance-x), 0, 0);
      }
    }
    
    .b-footer__brand:hover & {
      --_exit-delay: 0s;
      --_logo-op: var(--s-text-op-hover);
    }
  }

  &__group {
    @include flow-engine(var(--space-md));

    .l-flow {
      @include flow-engine(var(--space-xs));
    }
  }

  &__link {
    font-family: var(--font-main);
    font-size: var(--fs-body);
    font-weight: 300;
    line-height: var(--lh-body);
    
    --_link-op: var(--s-text-op-idle);
    color: rgba(var(--p-white-rgb), var(--_link-op));
    
    transition: color var(--d-fast) var(--e-out) var(--_exit-delay);
    
    display: block;

    &:hover {
      --_exit-delay: 0s;
      --_link-op: var(--s-text-op-hover);
    }
  }

  &__bottom {
    margin-top: var(--space-xl);
    padding-top: var(--space-md);
    border-top: var(--s-stroke-width) solid var(--footer-stroke-color);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .text-data {
      font-size: var(--fs-data);
      opacity: calc(var(--s-text-op-idle) * 0.6);
      letter-spacing: var(--ls-caption);
    }
  }
}