.ui-button--logo {
  width: var(--btn-h); padding: 0; aspect-ratio: 1/1;
  .b-logo { height: 35%; width: 35%; display: flex; align-items: center; justify-content: center;
    svg { transform: translate3d(var(--logo-balance-x), 0, 0); }
  }
  .b-navbar & {
    --btn-h: var(--nav-content-h);
    --btn-radius: var(--nav-inner-radius);
    --_blur: var(--nav-blur);
  }
}