.b-static-card {
  --s-card-radius: var(--radius-master);
  --_preview-radius: calc(var(--s-card-radius) - (var(--p-card) * 0.5));

  @include glass-panel(var(--s-card-radius));
  
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  
  height: 100%; 

  --_bg-op: var(--s-glass-op-base);
  --_stroke-op: var(--s-stroke-op-idle);
  --_text-op: var(--s-text-op-idle);

  &.is-focused, &:hover { transition-delay: 0s; }
  
  &.is-focused { 
    --_stroke-op: var(--s-stroke-op-hover); 
    --_text-op: var(--_text-op-hover, var(--s-text-op-hover)); 
    --_bg-op: var(--s-glass-op-hover);
  }

  &:hover {
    --_bg-op: var(--s-glass-op-hover);
    --_stroke-op: var(--s-stroke-op-active);
    --_glare-op: var(--s-glare-op-hover);
    --_text-op: 1;
  }

  &__viewport {
    padding: var(--p-card);
    @include flow-engine(var(--space-md)); 
    display: flex;
    flex-direction: column;
    flex: 1; 
    border-radius: inherit; 
    position: relative;
    
    overflow: visible; 
  }


  &__top { 
    display: flex; 
    justify-content: space-between; 
    align-items: baseline; 
    width: 100%; 
  }

  &__index { 
    @extend .text-data; 
    font-weight: 400; 
  }

  &__body {
    flex: none; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > .text-heading + .text-body { 
      margin-top: var(--space-xs); 
    }
    
    & > .text-body + .b-static-card__tags {
      margin-top: var(--space-xs);
    }
  }

  &__actions { 
    display: flex; 
    justify-content: flex-start; 
    width: 100%; 
    
    margin-top: auto; 
    padding-top: var(--space-sm); 
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
  }

  .b-preview-box {
    --local-preview-radius: var(--_preview-radius);
    width: 100%;
    aspect-ratio: 16/9;
    @include glass-panel(var(--local-preview-radius));
    overflow: hidden;
  }

  @media (max-width: $bp-md) {
    &.is-focused {
      --_bg-op: var(--s-glass-op-hover);
      --_stroke-op: var(--s-stroke-op-active);
      --_text-op: 1;

      .ui-button {
        --_bg-op: var(--s-glass-op-active);
        --_stroke-op: var(--s-stroke-op-active);
        --_text-op: 1;
        transition-delay: 0s;
      }
    }
  }
}